---
---

@import "{{ site.theme }}";
.inner {
  max-width: 840px;
}
.main-content {
  p {
    text-align: justify;
  }
}
.fi {
  position: relative;
  display: inline-block;
  width: 1.333333em;
  line-height: 1em;
}
.fi:before {
  content: " ";
}
.fi-br {
  background-image: url(/assets/flags/4x3/br.svg);
}
.fi-us {
  background-image: url(/assets/flags/4x3/us.svg);
}
img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
