---
---

@import "{{ site.theme }}";
.inner {
  max-width: 960px;
}
#header_wrap {
  background: #212121;
}
#header_wrap .inner {
  passing: 80px 10px 30px 10px;
}
.main-content {
  p {
    text-align: justify;
  }
}
.fi {
  position: relative;
  display: inline-block;
  width: 1.333333em;
  line-height: 1em;
}
.fi:before {
  content: " ";
}
.fi-br {
  background-image: url(/assets/flags/4x3/br.svg);
}
.fi-us {
  background-image: url(/assets/flags/4x3/us.svg);
}
img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
.navibar {
  position: fixed;
  background: #212121;
  width: 100%;
  z-index: 1030;
}

.navibar div {
  display: flex;
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;
}

.navibar ul {
  display: flex;
  list-style: none;
}
